body{
    font-family: Arial, Helvetica, sans-serif;
}
header{
    text-align: center;
}
h1,h2 {
    color: #0153ea
}
nav{
    background-color: black;
    text-align: center;
}

.ul1{
   list-style-type: none;
   

}
.li1{
    color: whitesmoke;
   display:inline-block;
   padding: 6px 25px;
}



nav ul li {
    margin: 0 10px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    padding: 10px 20px;
    display: block;
    
}

nav ul li a:hover {
    background-color: #333;
    color: #fff;
    border-radius: 50px; /* or any other shape */
    transition: background-color 0.3s, color 0.3s;
}

section {
    color: black;
    
    padding: 20px;
    margin: 20px auto;
    width: 90%;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 1);
}
/* Styling for the Curriculum section */
.curriculum {
    padding: 20px;
    margin: 20px auto;
    width: 90%;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 1);
}
.grid-container {
    display: grid;
    grid-template-columns: repeat(6, 1fr); /* Assuming you have 6 grid items */
    gap: 20px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    width: 100%; /* Ensure it spans the full width */
}

.grid-item {
    background-color: #f5f5f5;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.grid-item h3 {
    color: #0153ea;
    font-size: 1.2em;
    margin-bottom: 10px;
}

.grid-item p {
    font-size: 0.9em;
    color: #333;
}



section img {
    max-width: 100%;
    height: auto;
    margin: 20px 0;
    display: block;
}

footer {
    background-color:black;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    position: relative;
    bottom: 0;
    width: 100%;
}

.contact-us a {
    color: #007bff;
    text-decoration: none;
}

.contact-us a:hover {
    text-decoration: underline;
}
